/* Master Styles */
h1 {
    color: #369;
    font-size: 300%;
}

h2 {
    color: #444;
    font-size: 270%;
}

h3 {
    color: #67809f;
    font-family: cursive;
    font-size: 220%;
}

h4 {
    color: #782efd;
    font-size: 160%;
}

h5 {
    color: #3c9892;
    font-size: 120%;
}

h6 {
    color: #2f437d;
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.8rem 0 !important;
    line-height: 130%;
}

body {
    margin: 0;
}
