/*mine*/

.mine-guide {
    display: inline-block;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.52);
    background-color: #e2e2e2;
    color: #7b7b7b;
    text-align: center;
    height: 3rem;
}

.mine-guide>ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.mine-guide>ul li {
    display: inline-block;
    line-height: 3rem;
    cursor: default;
}

.mine-guide .live {
    color: darkorange;
}

.mine-guide>ul li:hover {
    color: darkorange;
}

.mine-content {
    display: inline-block;
    width: 100%;
    color: #5d5d5d;
    margin-top: 4px;
    height: calc(100% - 6rem - 6px);
}

.mine-upd {
    position: relative;
    height: 100%;
    width: 100%;
}