/*mine*/

.mine-guide {
    display: inline-block;
    width: 13rem;
    float: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.52);
}

.mine-guide>ul {
    list-style: none;
    padding-left: 0;
}

.mine-guide>ul li {
    padding-left: 40px;
    line-height: 2rem;
    cursor: default;
}

.mine-guide .live {
    color: darkorange;
}

.mine-guide>ul li:hover {
    color: white;
}

.mine-content {
    display: inline-block;
    width: calc(100% - 14rem);
    float: right;
    min-height: calc(100% - 3rem);
}

.mine-upd {
    position: relative;
    height: calc(100% - 3rem - 8px);
    width: calc(100% + 5px);
    left: -5px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.52);
    /*使padding不影响dom大小*/
    box-sizing: border-box;
}