.passive {
    width: 20%;
    height: 100%;
    float: left;
    background-color: lightgray;
    position: absolute;
}

.passive > ul, .active > ul {
    list-style: none;
}

.active {
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: lightgray;
    position: absolute;
    top: 0;
    right: 0;
}