.notes {
    height: 100%;
    width: 100%;
    background-image: url('app/assets/images/notes_bg.jpg');
    background-size: 100% 100%;
}

.form {
    background-color: rgba(164, 166, 191, 0.37);
    width: 10rem;
    height: 60%;
    float: left;
    overflow: auto;
}

.form ul {
    list-style: none;
    font-size: 0.8rem;
    padding-left: 1.5rem;
    cursor: pointer;
}

.form ul li {
    color: #f3f3f3;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -ms-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s;
}

.form ul li:hover {
    color: rgba(61, 63, 34, 0.6);
}

.form ul .active {
    color: #429dff;
}

.view {
    background-color: rgba(250, 250, 250, 0.48);
    color: #421e1e;
    padding: 0.5rem;
    width: calc(100% - 10rem - 1rem);
    height: calc(60% - 1rem);
    float: left;
    overflow: auto;
    line-height: 2rem;
}

.edit {
    background-color: rgba(240, 248, 255, 0);
    color: rgb(221, 222, 224);
    width: 100%;
    height: calc(40% - 2rem);
    float: left;
    position: relative;
}

.editor-helper {
    right: 0;
    top: 1.5rem;
    font-size: 0.8rem;
    width: 25rem;
    background-color: #e8e8e8;
    overflow: auto;
    height: calc(100% - 1.5rem);
    position: absolute;
}

.notes-editor {
    width: calc(100% - 0.5rem - 1rem);
    overflow: auto;
    height: calc(100% - 1.5rem - 0.5rem * 2);
    outline: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
}

.notes-editor-line {
    background-color: rgba(191, 191, 191, 0.61);
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    color: #ca6262;
    font-size: 0.8rem;
    line-height: 1rem;
    position: absolute;
}

.notes-tools {
    width: 100%;
    height: 1.5rem;
    background-color: rgba(240, 248, 255, 0);
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.notes-tags-declare {
    width: calc(100% - 12rem);
    display: inline-block;
    /*溢出使用省略号代替*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes-tools-btn {
    width: 12rem;
    display: inline-block;
    float: right;
}

.notes-tools a {
    float: right;
    margin-right: 0.5rem;
}

.notes-tools span {
    margin-right: 0.3rem;
}

/*编辑器的收缩样式*/
.editorFlex {
    display: none;
}

.editFlex {
    height: 1.5rem;
}

.formFlex {
    height: calc(100% - 2rem - 1.5rem);
}

.viewFlex {
    height: calc(100% - 1rem - 2rem - 1.5rem);
}

.paste-way {
    position: absolute;
    background-color: white;
    background-color: #8c8888;
    color: #f3eaea;
}

.paste-way ul {
    list-style: none;
    width: 7rem;
    padding: 0;
    text-align: center;
    display: none;
}

.paste-way ul .active {
    background-color: cornflowerblue;
}

.note-preview {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: calc(100% - 10rem);
}

.note-preview-content {
    text-align: left;
    max-height: 20rem;
    overflow: auto;
}

.note-preview-content ul {
    margin: 0;
    background-color: rgba(61, 63, 34, 0.69);
    color: #fcfff0;
}

.note-preview-content ul li:hover {
    background-color: #0095ff;
    cursor: pointer;
}