.stories {
    background-color: #e2e2e2;
    color: gainsboro;
    /*height: calc(100% - 2rem);*/
    /*height: 100%;*/
    width: 100%;
    /*overflow: auto;*/
}

.stories-bar {
    background-color: rgba(86, 86, 86, 1);
    color: #a5a5a5;
    margin: 0 auto;
    top: 0;
    width: 100%;
    text-align: center;
    height: 3rem;
}

.stories-bar>ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 3rem;
}

.stories-bar>ul>li {
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 3rem;
    cursor: default;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.stories-bar>ul>.live {
    border-bottom: 1px solid darkorange;
    color: darkorange;
}

.stories-content {
    top: 1px;
    position: relative;
}