<div class="circle">
    <div class="circle-search">
        <label><i class="fa fa-search" aria-hidden="true"></i></label>
        <input class="search-input" [(ngModel)]="filterCtx" (keyup)="change($event)" placeholder="搜索故事主人公、故事情节。对不起，目前仅支持主人公搜索。"/>
    </div>
    <div class="circle-content" #circleContent>
        <div class="circle-block" *ngFor="let story of stories; let i = index;" [@visibleAnimation]="visibleCircle[i] ? 'show' : 'hide'"
             [routerLink]="['/', 'stories', 'detail', {id: story.storyId}]">
            <template pinterest="{{i}}">
                <span class="circle-block-belongs">{{story.author}}</span>
                <img *ngIf="story.img" [src]="story.img"/>
                <section [ngClass]="{'img-section': story.img, 'txt-section': !story.img}">{{story.words | truncateSection:!story.image}}</section>
            </template>
        </div>
    </div>
</div>
<!--<div class="circle-foot">-->
<!--</div>-->