
/*detail*/

.story-detail-author {
    text-align: right;
    color: #8a8a8a;
    font-family: monospace;
}

.story-detail-body {
    padding: 0 10rem;
}

.story-detail-body p {
    color: #aeaeae;
    word-wrap: break-word;
}

.story-detail-body img {
    max-width: calc(100% - 10px);
}

.story-detail-body video {
    max-width: calc(100% - 10px);
}

.story-detail-body > img {
    max-width: calc(100% - 10rem) !important;
}

.story-detail-body > video {
    max-width: calc(100% - 10rem) !important;
}