<div class="mine-list">
    <div class="mine-block" *ngFor="let story of stories; let i = index;" 
            [routerLink]="['/', 'stories', 'detail', {id: story.storyId}]">
        <template pinterest="mine-{{i}}">
            <span class="mine-block-belongs">{{story.author}}</span>
            <img *ngIf="story.image" [src]="story.image"/>
            <section [ngClass]="{'img-section': story.img, 'txt-section': !story.img}">{{story.words | truncateSection:!story.image}}</section>
        </template>
    </div>
    <div style="position: relative;
        display: block;
        width: calc(100% - 2px);
        float: left;
        transition: box-shadow 0.3s;
        margin-bottom: 16px;
        text-align: center;
        color: gray;">
        <span (click)="getNextPage();">加载更多 {{notifyMsg}}</span>
    </div>
</div>