<div class="form" [ngClass]="{'formFlex':editorFlex}">
    <button class="btn" (click)="newNote();">New</button>
    <ul>
        <li *ngFor="let note of notes" (click)="toggleActive($event)">{{note}}</li>{{a}}
    </ul>
</div>
<div class="view" [ngClass]="{'viewFlex':editorFlex}" #notesView>
</div>
<div class="edit" [ngClass]="{'editFlex':editorFlex}">
    <div class="notes-tools">
        <span *ngFor="let mark of marks">{{mark.key}}->{{mark.val}}</span>
        <a class="btn" (click)="editorFlex = !editorFlex"><span *ngIf="editorFlex">+</span><span *ngIf="!editorFlex">-</span></a>
        <a class="btn" (click)="saveNote();" *ngIf="!editorFlex">Save</a>
        <a class="btn" (click)="helper = !helper" *ngIf="!editorFlex">Help</a>
        <a class="btn" (click)="todo = !todo" *ngIf="!editorFlex">TODO</a>
    </div>
    <!--<ol class="notes-editor-line">-->
    <!--<li></li>-->
    <!--<li></li>-->
    <!--</ol>-->
    <div class="notes-editor" contenteditable="plaintext-only" #notesEditor (keyup)="confirmEdit($event)" [ngClass]="{'editorFlex':editorFlex}"></div>
    <div class="editor-helper" *ngIf="helper">
        <p>
            编写标签时，最好只编辑最后一个标签。
            使用@tab标签来进行缩进，遇到空行结束缩进。可嵌套使用。
            标签渲染的内容以空格为截止符，若紧连接标签后需要打印空格，则输入两个空格即可，如：@h1-abc  a。标签目前分为三种。
            请注意别XSS攻击，跪谢了。
        </p>
        <ol>
            <li>普通标签。如：@h1-、@i-、@b-等。</li>
            <li>带有参数的标签。如：@url[]。参数值写在[]中，实例：@url[https://www.abc.com]ALink，会生成
                "<a href='https://www.abc.com'>ALink</a>"
            </li>
            <li>带有包含内容的标签。如：@ol()、@ul()。不难看出这个标签会生成
                "ol、ul"html标签，其中的"li"内容在@ol或@ul标签的括号
                中以#号分割。实例：@ol(#a#b)，会生成"<ol><li>a</li><li>b</li></ol>"
            </li>
        </ol>
    </div>
    <div class="editor-helper" *ngIf="todo">
        <p>需要完善的内容</p>
        <ul>
            <li>添加@code标签，粘贴代码为纯文本，根据标签表明语言解析关键字高亮</li>
            <li>由于保存机制过于简单，所以建议每个笔记内容不要太多</li>
        </ul>
    </div>
    <p style="display: none;" #clipboard></p>
</div>
